body{
  background-color: palegoldenrod;
}
h1 {
  color: orange;
  text-align: center;
}

#mainmenu {
  list-style: none;
  text-align: center;
}

#mainmenu li {
  margin: 5px auto;
  padding: 5px;
  background-color: blue;
}

#mainmenu li a {
  text-decoration: none;
  color: white;
}

#back {
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  
}

#back:before{
  content: '<-';
}

#installbutton{
  display: none;
  text-align: center;
  background-color: red;
  margin: 5px auto;
  padding: 5px; 
}
#installbutton a{
  text-decoration: none;
  color: yellow;
}